body{
  margin: 150px;
  padding: 40px;
  border: 3px double black;
}
header{
  text-align: center;
  margin: 0px auto;
}
h1{
    margin: 0px auto;
    width: 500px;
    font-family:'Courier New', Courier, monospace;
}
.titulo2{
  margin: 0px auto;
  font-family: 'Courier New', Courier, monospace;
  width: 100px;
  padding-bottom: 20px;
}
.titulo{
  margin: 0px auto;
  font-family: 'Courier New', Courier, monospace;
  width: 100px;
  
}
nav{
  border-bottom: 1px solid gray;  
  border-top:  4px solid black;
}
li{
    font-family:'Courier New', Courier, monospace;
    list-style: none;
    display: inline; 
    margin: 50px ;
}
p{
    font-family: 'Courier New', Courier, monospace;
    width: 950px;
    text-align: center;
}
div{
    margin-top: 30px;
}

